
@import '../node_modules/antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    height: 100%;
    background-color:#fff;
  }
  
  .App-logo {
    height: 7vh;
    pointer-events: none;
  }
  
  .App-header {
    width: '100%';
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 0;
  }

  
     @media (max-width: 920px) { 
        .navbar-expanded {
            display: none !important;
        }
    }

    @media (max-width: 550px) { 
        .navbar-super-collapsed {
            display: none !important;
        }

        .App-header {
            justify-content: center;
        }
    }
  

    @media (min-width: 920px) { 
        .navbar-collapsed {
            display: none !important;
        }
    }
  
  .App-link {
    color: #61dafb;
  }

  .site-layout-content {
    height: '100%';
    padding: 20px;
    background-color: #fff;
  }

  #components-layout-demo-top .logo {
    /* float: left; */
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
/* 
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  } */
  .screen-button {
      background: inherit;
      transition: background 0.3s, border-color 0.3s, color 0.3s;
      border: 1px solid white;
      color: white;
  }

  .screen-button:hover {
    color: #1890ff;
    border: 1px solid #1890ff;
    background: initial;
}
.opacity {
    opacity: 0.65;
}
.opacity:hover {
    opacity: 1;
}
.ant-popover-arrow {
    display: none;
}

.badge-avatar:hover {
    transform: scale(1.1);
}

.ant-collapse-content-box {
    padding: 4px !important; 
}

.ant-form-item {
    margin-bottom: 10px;
}

.ant-upload {
    width: 100%;
}

.ant-popover-placement-top {
    left: 0;
}

.action-item {
    cursor: pointer;
}


.action-item:hover {
    background-color: #192c3e;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
  }

  .link-button-nav {
    background-color: transparent;
    border: none;
    cursor: pointer;
    
    display: inline;
    margin: 0;
    padding: 0;
  }

  .link-button-nav:hover {
    text-decoration: underline;
  }
  
  
  .ant-timeline-item-head-custom {
      padding: 0;
  }
  
  .selector > .ant-select-selector {
    background-color: #001529 !important;
  }

  .selector > .ant-select-selector.selector::after {
    color: white;
  }

  .ant-picker-input > input {
      color: white;
  }

  .ant-radio-inner {
    width: 40px;
    height: 40px;
  
    
  }
  .ant-radio-inner::after {
    width: 20px;
    height: 20px;
  }
  
  .ant-checkbox-inner {
    width: 40px;
    height: 40px;
  }
  .ant-checkbox-inner::after {
    width: 8px;
    height: 20px;
  }
  .ant-radio,
  .ant-checkbox {
    font-size: 40px;
  }

  .ant-switch {
    background-color: grey;
}

  .ant-switch-checked {
      background-color: #1890ff;
  }
